      @import "variables.less";
      body {
          margin: 0;
          padding: 0;
          background-color: @Moon;
          font-family: 'Seravek', 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
          font-size: 1em;
          font-weight: 400;
          color: @Europa;
          -webkit-tap-highlight-color: transparent;
      }

      h1,
      h2,
      h3 {
          font-size: 0.875em;
          font-weight: 400;
          color: @Arcturus;
      }

      p {
          font-size: 0.875em;
          font-weight: 400;
      }

      ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
      }

      a {
          text-decoration: none;
          font-size: 0.875em;
          cursor: pointer;
      }

      .icon {
          width: 32px;
          height: 32px;
          background-position: center center;
          background-size: 24px 24px;
          background-repeat: no-repeat;
          opacity: 0.875;
      }

      .rotating {
          animation: rotating 2s ease infinite;
      }

      @keyframes DaNang {
          0% {
              background-position: 0% 50%
          }
          50% {
              background-position: 100% 50%
          }
          100% {
              background-position: 0% 50%
          }
      }

      @keyframes rotating {
          from {
              transform: rotate(0deg);
          }
          to {
              transform: rotate(360deg);
          }
      }

      @keyframes scaling {
          from {
              transform: scale(1.5);
          }
          to {
              transform: scale(1);
          }
      }