@Moon: rgb(15, 10, 5);
@Europa: rgb(195, 200, 200);
@Arcturus: rgb(225, 220, 215);
@Neptune: rgba(195, 200, 200, 0.5);
@Centaur: rgba(50, 50, 45, 0.5);
@Andromeda: rgba(15, 15, 10, 0.5);
@Cygnus: rgba(250, 250, 250, 0.25);
@Rivendell: linear-gradient(270deg, #ff7e00, #0080ff);
@BigShadow: 0 4px 4px rgba(0, 0, 0, 0.5), 0 8px 16px rgba(0, 0, 0, 0.25);
@SmallShadow: 0 2px 2px rgba(0, 0, 0, 0.125), 0 4px 8px rgba(0, 0, 0, 0.125);