@Moon: rgb(15, 10, 5);
@Europa: rgb(195, 200, 200);
@Arcturus: rgb(225, 220, 215);
@Neptune: rgba(195, 200, 200, 0.5);
@Centaur: rgba(50, 50, 45, 0.5);
@Andromeda: rgba(15, 15, 10, 0.5);
@Cygnus: rgba(250, 250, 250, 0.25);
@Rivendell: linear-gradient(270deg, #BB6BD9, #56CCF2);
@BigShadow: 0 4px 4px rgba(0, 0, 0, 0.5),
0 8px 16px rgba(0, 0, 0, 0.25);
@SmallShadow: 0 2px 2px rgba(0, 0, 0, 0.125),
0 4px 8px rgba(0, 0, 0, 0.125);
@WhiteT: rgba(255, 255, 255, 0.75);
@White0: rgb(255, 255, 255);
@Black0: rgb(50, 50, 50);
.abs() {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.inner-middle() {
    display: flex;
    justify-content: center;
    align-items: center;
}